{% extends 'baseauth.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationAdminForm) }}

    {{ form_start(registrationregistrationAdminFormForm) }}

        {{ form_widget(registrationForm) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
